@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=============== Bootstrap tools ===============*/
.fs-7 {
    font-size: 0.875rem;
}

.fs-8 {
    font-size: 0.75rem;
}

.fs-9 {
    font-size: 0.625rem;
}

.fs-10 {
    font-size: 0.5rem;
}

.object-fit-cover {
    object-fit: cover;
}

.object-fit-contain {
    object-fit: contain !important;
}

.w-max-content {
    width: max-content !important;
}

.bg-red {
    background-color: red !important;
}

.text-primary-hover {
    transition: color .3s;
}

.text-primary-hover:hover {
    color: var(--bs-primary) !important;
}

.btn-close:focus {
    box-shadow: none !important;
}

.form-control:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0.1rem 0.05rem var(--bs-primary);
}

.text-gray {
    color: var(--bs-gray);
}

.z-index-minus-4 {
    z-index: -4 !important;
}

.z-index-minus-3 {
    z-index: -3 !important;
}

.z-index-minus-2 {
    z-index: -2 !important;
}

.z-index-minus-1 {
    z-index: 1 !important;
}

.z-index-0 {
    z-index: 0 !important;
}

.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.z-index-3 {
    z-index: 3 !important;
}

.z-index-4 {
    z-index: 4 !important;
}

.z-index-5 {
    z-index: 5 !important;
}

.z-index-6 {
    z-index: 6 !important;
}

.z-index-7 {
    z-index: 7 !important;
}

.z-index-8 {
    z-index: 8 !important;
}

.z-index-9 {
    z-index: 9 !important;
}

.z-index-999 {
    z-index: 999 !important;
}

.modal-line {
    display: block;
    width: 18px;
    height: 5px;
    background-color: var(--bs-primary);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.hr-primary {
    border: 1px solid var(--bs-primary);
}

/* ****************************************** */

.nice-select-default {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
}

html.blind {
    filter: grayscale(1) invert(0);
    -webkit-filter: grayscale(1) invert(0);
    -moz-filter: grayscale(1) invert(0);
    -o-filter: grayscale(1) invert(0);
    background-color: darkgrey;
    background-image: none;
    color: #333 !important;
}

.snowFall {
    position: fixed !important;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/*=============== Maxsus imkoniyatalar ===============*/
/*=============== toggle effects ===============*/
#toggleThemeMode[type=checkbox],
#toggleVoiceMode[type=checkbox] {
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.darkmode .label,
.voicemode .label {
    display: flex;
    width: 60px;
    height: 30px;
    border: 2px solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
}

.darkmode .label:before,
.voicemode .label:before {
    transition: transform 0.5s ease;
    transition-delay: 0s;
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #000;
    border-radius: 50%;
    top: 4px;
    left: 4px;
}

#toggleThemeMode[type=checkbox]:checked + .label:before,
#toggleVoiceMode[type=checkbox]:checked + .label:before {
    transform: translateX(30px);
    background-color: var(--bs-dark);
}

#toggleThemeMode[type=checkbox]:checked + .label,
#toggleVoiceMode[type=checkbox]:checked + .label {
    background-color: var(--bs-primary);
}

.noDefalult {
    width: auto;
    display: inline-block;
    cursor: default;
    position: relative;
    color: #212529 !important;
    padding: 0 !important;
}

.btn-voice,
#voiceSelect {
    display: none;
}

.btn-voice {
    z-index: 999;
    border: 2px solid var(--bs-dark);
    border-radius: 8px;
    overflow: hidden;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.visibility-hidden {
    visibility: hidden !important;
}

.user-select {
    user-select: none !important;
}

/*=============== voice ===============*/
.icon-voice {
    background: var(--bs-primary);
    width: 100%;
    height: 100%;
    transition: 0.4s;
    border-radius: 50%;
}

.decremet {
    font-size: 10px;
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.decremet.visibile {
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.increment {
    font-size: 24px;
    visibility: visible;
    user-select: auto;
    pointer-events: visible;
    opacity: 1;
    cursor: pointer;
}

.increment.visibile-hide {
    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
}

.increment,
.decremet,
.autoSize {
    width: 40px;
    height: 40px;
    background-color: var(--bs-primary);
    color: var(--bs-secondary) !important;
    transition: 0.3s ease;
    border-radius: 8px;
    border: 1px solid var(--bs-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    border: none !important;
}

.dropdown-not-close .dropdown-item:hover,
.dropdown-not-close .dropdown-item:focus {
    background-color: var(--bs-secondary) !important;
    color: var(--bs-primary) !important;
}

/* ** */

/*=============== Header ===============*/
.nav-top .dropdown-toggle {
    transition: .3s all ease;
    border-bottom: 2px solid transparent;
}

.nav-top .dropdown-menu {
    top: 40px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transform-origin: 0 0;
    transition: .3s all ease;
}

.nav-top .dropdown-toggles li:hover .dropdown-toggle {
    border-bottom: 2px solid var(--bs-primary);
    color: var(--bs-primary) !important;
}

.nav-top .dropdown-toggles li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


/*=============== Header-intro ===============*/
/* ============ desktop view ============ */
.dropdown-arrow::after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    border-left: initial !important;
    border-top: initial !important;
    content: "";
    display: block;
    height: 6px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 2px;
    top: 55%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .2s ease-in-out;
    width: 6px;
}

.dropdown-arrow.show::after {
    transform: rotate(-135deg);
}

.header-intro-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-fixed {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 190px;
    height: 75px;
    z-index: 1;
    backdrop-filter: blur(6px) contrast(5) grayscale(100%) brightness(90%);
    /* grayscale(100%) */
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    /* background-image: url(../images/logo/brand_lg.png);
    background-repeat: no-repeat;
    background-size: contain; */
}

/*=============== Header-intro | Swiper ===============*/
.swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background-color: #fff;
    opacity: .9;
    scale: 1.4;
    margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--bs-primary);
    opacity: 1;
    scale: 1.7;
}

/*=============== Insurance type | Swiper ===============*/
.insuranceType {
    height: auto;
}

.insurance-card {
    width: 363px;
    max-height: 500px;
    height: 450px;
}

.insurance-img-gen {
    height: 260px;
}

.insurance-section .swiper-button-next,
.insurance-section .swiper-button-prev {
    color: var(--bs-primary);
}

/* .insurance__section .swiper-button-next {
    right: 0 !important;
}

.insurance__section .swiper-button-prev {
    left: 0 !important;
} */


.swiper-insurance-btn-prev,
.swiper-rtl .swiper-button-next {
    left: initial;
    right: 80px;
    top: 30px;
}

.swiper-insurance-btn-prev::after,
.swiper-insurance-btn-next::after {
    content: '';
}

.swiper-insurance-btn-prev i,
.swiper-insurance-btn-next i {
    font-size: 25px;
}

.swiper-insurance-btn-next,
.swiper-rtl .swiper-button-next {
    left: initial;
    right: 0;
    top: 30px;
}

/*=============== Partners | Swiper ===============*/
.partnersSlider {
    height: auto !important;
}

.partner-card {
    height: 120px;
}

.swiper-partners-btn-prev,
.swiper-rtl .swiper-button-next {
    left: initial;
    right: 80px;
    top: 30px;
}

.swiper-partners-btn-prev::after,
.swiper-partners-btn-next::after {
    content: '';
}

.swiper-partners-btn-prev i,
.swiper-partners-btn-next i {
    font-size: 25px;
}

.swiper-partners-btn-next,
.swiper-rtl .swiper-button-next {
    left: initial;
    right: 0;
    top: 30px;
}

/*=============== Latest News | Swiper ===============*/
.latestNew {
    height: auto;
}

.latest-new-card {
    width: 363px;
    max-height: 500px;
    height: 450px;
}

.latest-new-img-gen {
    height: 260px;
}

.latest-news-section .swiper-button-next,
.latest-news-section .swiper-button-prev {
    color: var(--bs-primary);
}

/* .insurance__section .swiper-button-next {
    right: 0 !important;
}

.insurance__section .swiper-button-prev {
    left: 0 !important;
} */

.swiper-new-btn-prev,
.swiper-rtl .swiper-button-next {
    left: initial;
    right: 80px;
    top: 30px;
}

.swiper-new-btn-prev::after,
.swiper-new-btn-next::after {
    content: '';
}

.swiper-new-btn-prev i,
.swiper-new-btn-next i {
    font-size: 25px;
}

.swiper-new-btn-next,
.swiper-rtl .swiper-button-next {
    left: initial;
    right: 0;
    top: 30px;
}

/* Comment | Swiper */
.comment-user-card a i {
    transition: .3s all ease;
}

.comment-user-card a:hover i {
    transform: translateX(7px);
}


.commentUsers {
    height: auto;
}


/*=============== Our Advantages ===============*/

.advantages-bg {
    /* background: url(../images/headerBg2.jpg) no-repeat center/cover; */
    position: relative;
}

/* html.blind .advantages-bg{
    filter: grayscale(1) invert(1);
    -webkit-filter: grayscale(1) invert(1);
    -moz-filter: grayscale(1) invert(1);
    -o-filter: grayscale(1) invert(1);
} */

.advantages {
    padding: 70px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 80px;
    position: relative;
    z-index: 9;
}

/* .advantages-title {
    color: var(--bs-secondary) !important;
} */
.title {
    font-size: 40px;
    /* color: var(--text-primary); */
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.advantages-article-title {
    font-size: 60px;
    /* color: var(--bs-secondary) !important; */
    font-weight: bold;
    margin-bottom: 25px;

}

.advantages-article-text {
    font-size: 18px;
    /* color: var(--bs-secondary) !important; */
}

/*=============== Questionnaire ===============*/

.questionnaireCard {
    width: 576px !important;
}

.section-feedback-our-customers__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 26px;
    color: #6b7a8c;
    margin-bottom: 16px;
}


/*=============== Scroll Bar ===============*/

::-webkit-scrollbar {
    width: .6rem;
    border-radius: 0;
    background-color: var(--bs-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: 2px;
    transition: .3s all ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #59802a;
}

/*=============== Scroll Up ===============*/

.scrollup {
    position: fixed;
    right: 5rem;
    bottom: -30%;
    background-color: var(--bs-primary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    color: var(--bs-white);
    font-size: 1.25rem;
    transition: .3s;
    text-decoration: none !important;
}

.scrollup:hover {
    transform: translateY(-.35rem);
    background-color: #59802a;
}

/* Show Scroll Up*/
.show-scroll {
    bottom: 4rem;
}

/*=============== Header Fixed ===============*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

*[type="radio"],
progress {
    accent-color: var(--bs-primary);
}

#particles-js {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

/* Others pages */
.select2-selection.select2-selection--multiple.form-control.travel-multiple-check {
    border: 1px solid #aaaaaa !important;
}

.primary-accent-color {
    accent-color: var(--bs-primary);
}

.field__input::placeholder {
    color: #c7c2c2;
}

/* Bootstrap Notify */
[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

@media (min-width: 768px) {
    .comment-user-card {
        height: 218px;
    }
}

@media (min-width: 992px) {
    .sticky-menu-btn {
        display: flex;
        height: 0;
        width: 0;
        opacity: 0;
        transform: scale(0);
        transform-origin: left;
        transition: all .35s;
    }

    .navbar-expand-lg.sticky .sticky-menu-btn {
        height: 2.125rem;
        width: 2.125rem;
        opacity: 1;
        transform: scale(1);
        margin: 0;
    }

    .comment-user-card {
        height: 175px;
    }
}

@media (min-width: 1200px) {
    .comment-user-card {
        height: 205px;
    }
}

@media (min-width: 1400px) {
    .comment-user-card {
        height: 330px;
    }
}

@media (max-width: 991px) {
    .counter-number {
        font-size: 50px;
    }

    .sticky-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .counter-text {
        font-size: 50px;
    }

    .advantages-article {
        border-left: 1px solid var(--bs-primary);
    }

    .scrollup {
        right: 3rem;
    }
}

@media (max-width: 768px) {
    .scrollup {
        right: 2rem;
    }

    .comment-user-card {
        height: 170px;
    }
}

@media (max-width: 576px) {
    .scrollup {
        right: 1.2rem;
    }

    .check-button, .remove-item-drive {
        width: 100% !important;
    }
}

@media (max-width: 500px) {
    .d-none-500px {
        display: none !important;
    }
}

@media (max-width: 450px) {
    .d-none-450px {
        display: none !important;
    }

    .navbar-brand {
        width: 130px !important;
    }

    .comment-user-card {
        height: 250px;
    }
}

.tt-scrollable-menu {
    width: 100% !important;
}

.has-error .help-block {
    color: red;
}

.p-relative {
    position: relative;
}

.bx-custom-sm {
    font-size: 1rem !important;
}